  <table class="small-10 small-offset-1" >
    <thead>
      <tr>
        <th class="text-center">
          <a ng-click="sortReadingsTable('created_at')">Date</a>
        </th>
        <th class="text-center">
          <a ng-click="sortReadingsTable('systolic')">Systolic</a>
        </th>
        <th class="text-center">
          <a ng-click="sortReadingsTable('diastolic')">Diastolic</a>
        </th>
        <th class="text-center">
          <a ng-click="sortReadingsTable('beats_per_minute')">BPM</a>
        </th>
      </tr>
    </thead>
    <tbody ng-repeat="reading in readings | orderBy: readingsTableSorter">
      <tr ng-class-even="'table-even'">
        <td class="text-center">
          {{reading.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        </td>
        <td class="text-center">
          {{reading.systolic}}
        </td>
        <td class="text-center">
          {{reading.diastolic}}
        </td>
        <td class="text-center">
          {{reading.beats_per_minute}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
